In [74]:
import pandas as pd

project_path = '/home/wjunneng/Ubuntu/2019-CDA-Product-Marketing-Model-Construction-And-Forecasting'

df_test_path = project_path + '/data/original/df_test.csv'
df_training_path = project_path + '/data/original/df_training.csv'

df_test = pd.read_csv(df_test_path, encoding='utf-8')
df_training = pd.read_csv(df_training_path, encoding='utf-8')

In [75]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
ID                                    2000 non-null int64
'Product using score'                 2000 non-null object
'User area'                           2000 non-null object
gender                                2000 non-null object
age                                   2000 non-null object
'Cumulative using time'               2000 non-null object
'Point balance'                       2000 non-null object
'Product service usage'               2000 non-null object
'Pay a monthly fee by credit card'    2000 non-null object
'Active user'                         2000 non-null object
' Estimated salary'                   2000 non-null object
'Purchase or not'                     2000 non-null object
dtypes: int64(1), object(11)
memory usage: 187.6+ KB

In [76]:
df_training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 12 columns):
ID                                    6000 non-null int64
'Product using score'                 6000 non-null object
'User area'                           6000 non-null object
gender                                6000 non-null object
age                                   6000 non-null object
'Cumulative using time'               6000 non-null object
'Point balance'                       6000 non-null object
'Product service usage'               6000 non-null object
'Pay a monthly fee by credit card'    6000 non-null object
'Active user'                         6000 non-null object
' Estimated salary'                   6000 non-null object
'Purchase or not'                     6000 non-null int64
dtypes: int64(2), object(10)
memory usage: 562.6+ KB

In [77]:
df_test.columns

Index(['ID', ''Product using score'', ''User area'', 'gender', 'age',
       ''Cumulative using time'', ''Point balance'', ''Product service usage'',
       ''Pay a monthly fee by credit card'', ''Active user'',
       '' Estimated salary'', ''Purchase or not''],
      dtype='object')

In [78]:
df_training.columns

Index(['ID', ''Product using score'', ''User area'', 'gender', 'age',
       ''Cumulative using time'', ''Point balance'', ''Product service usage'',
       ''Pay a monthly fee by credit card'', ''Active user'',
       '' Estimated salary'', ''Purchase or not''],
      dtype='object')

In [79]:
def get_df_test(df, **params):
    """
    获取df_test
    :param params: 
    :return: 
    """
    df.sort_values(by='ID', inplace=True)
    
    df.reset_index(inplace=True, drop=True)
    
    return df

df_test = get_df_test(df_test)

pd.concat([df_test.head(), df_test.tail()])

,ID,'Product using score','User area',gender,age,'Cumulative using time','Point balance','Product service usage','Pay a monthly fee by credit card','Active user',' Estimated salary','Purchase or not'
0,2,608,Tainan,?,41,?,83807.86,1,?,1,?,Withheld
1,6,645,?,Male,?,8,113755.78,?,1,0,?,Withheld
2,13,476,?,Female,34,10,0,?,1,0,26260.98,Withheld
3,17,653,Taichung,Male,58,?,132602.88,1,1,0,5097.67,Withheld
4,31,591,Tainan,Female,39,3,0,?,1,?,?,Withheld
1995,9983,655,Taichung,Female,?,7,137145.12,1,?,0,115146.4,Withheld
1996,9985,602,Taichung,Male,35,7,?,?,1,1,?,Withheld
1997,9993,?,Tainan,?,36,2,0,?,?,?,195192.4,Withheld
1998,9996,771,Taipei,?,39,5,0,2,1,0,96270.64,Withheld
1999,9998,709,?,Female,36,7,?,1,?,1,?,Withheld

In [80]:
def get_df_training(df, **params):
    """
    获取df_training
    :param params: 
    :return: 
    """
    df.sort_values(by='ID', inplace=True)
    
    df.reset_index(inplace=True, drop=True)
    
    return df

df_training = get_df_training(df_training)

pd.concat([df_training.head(), df_training.tail()])

,ID,'Product using score','User area',gender,age,'Cumulative using time','Point balance','Product service usage','Pay a monthly fee by credit card','Active user',' Estimated salary','Purchase or not'
0,1,619,Taipei,?,42,2,?,1,1,1,101348.88,1
1,3,502,Taipei,?,42,8,?,3,1,0,?,1
2,4,699,?,?,?,?,0,2,?,0,?,0
3,7,822,Taipei,Male,50,7,0,2,1,1,10062.8,0
4,9,501,Taipei,Male,44,?,?,2,0,1,74940.5,0
5995,9992,597,Taipei,Female,53,4,88381.21,1,?,?,?,1
5996,9994,644,Taipei,Male,28,7,155060.41,?,1,0,29179.52,0
5997,9995,800,?,Female,29,2,?,2,0,?,167773.55,0
5998,9999,772,Taichung,Male,?,3,75075.31,2,?,?,?,1
5999,10000,792,?,Female,28,?,?,1,1,?,38190.78,0

In [81]:
df_test["'User area'"].value_counts()

Taipei      745
?           587
Taichung    344
Tainan      324
Name: 'User area', dtype: int64

In [82]:
df_training["'User area'"].value_counts()

Taipei      2077
?           1833
Taichung    1063
Tainan      1027
Name: 'User area', dtype: int64

In [83]:
import pandas as pd

def deal_User_area(df: pd.DataFrame, **params) -> pd.DataFrame:
    """
    二、处理User_area
    :param df:
    :param params:
    :return:
    """
    df["'User area'"] = df["'User area'"].apply(lambda x: 0 if x == "?" else x)
    df["'User area'"] = df["'User area'"].apply(lambda x: 1 if x == "Taipei" else x)
    df["'User area'"] = df["'User area'"].apply(lambda x: 2 if x == "Taichung" else x)
    df["'User area'"] = df["'User area'"].apply(lambda x: 3 if x == "Tainan" else x)

    return df
    
df_test = deal_User_area(df_test)
df_training = deal_User_area(df_training)

In [84]:
df_test['gender'].value_counts()

Male      732
Female    679
?         589
Name: gender, dtype: int64

In [85]:
df_training['gender'].value_counts()

Male      2315
?         1844
Female    1841
Name: gender, dtype: int64

In [86]:
def deal_gender(df: pd.DataFrame, **params) -> pd.DataFrame:
    """
    三、处理gender
    :param df: 
    :param params: 
    :return: 
    """
    df['gender'] = df['gender'].apply(lambda x: 0 if x == "?" else x)
    df['gender'] = df['gender'].apply(lambda x: 1 if x == "Male" else x)
    df['gender'] = df['gender'].apply(lambda x: 2 if x == "Female" else x)
    
    return df

df_test = deal_gender(df_test)
df_training = deal_gender(df_training)
df_test.head()

,ID,'Product using score','User area',gender,age,'Cumulative using time','Point balance','Product service usage','Pay a monthly fee by credit card','Active user',' Estimated salary','Purchase or not'
0,2,608,3,0,41,?,83807.86,1,?,1,?,Withheld
1,6,645,4,1,?,8,113755.78,?,1,0,?,Withheld
2,13,476,4,2,34,10,0,?,1,0,26260.98,Withheld
3,17,653,2,1,58,?,132602.88,1,1,0,5097.67,Withheld
4,31,591,3,2,39,3,0,?,1,?,?,Withheld

In [87]:
df_test["'Cumulative using time'"].value_counts()

?     569
1     163
2     159
7     159
9     147
5     145
8     144
6     140
3     129
4     120
10     68
0      57
Name: 'Cumulative using time', dtype: int64